
/*
 * media query large screens = 504 px
 *
*/

body {
    background: #323232;
    font-family:Verdana;
}

.button-container {
    width: 15em;
    height: 15em;
    margin: 3em auto;
}

.circle-button {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ca2128;
    border: none;
    border-radius: 15em;
    box-shadow: 0 7px #7a1519;
}

.circle-button:active {
    background-color: #ca2128;
    box-shadow: 0 4px #7a1519;
    transform: translateY(4px);
}

.round-button {
    width:15em;
    margin: 3em auto;
}
.round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    cursor: pointer;
    box-shadow: 0 7px #5a5a5a;
}
.round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

.button-meta-data {
    color:#e2eaf3;
    text-align:center;
    font-size:1.2em;
    font-weight:bold;
    font-family:Verdana;
    text-decoration:none;
    margin: 3em 0;
}

.clicks {
    margin: 1.3em 0;
}