
/*
 * media query large screens = 504 px
 *
*/

body {
    background: #323232;
    color: white;
    font-family:Verdana;
}

.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
    padding-bottom:5em;
}

.button-container {
    width: 15em;
    height: 15em;
    margin: 3em auto;
}

.submit-container {
    width: 7em;
    height: 7em;
}

/*
 * inspired by http://jsfiddle.net/user/josedvq/fiddles/
 * and http://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate3
 */
.circle-button {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-weight: bold;
    background-color: #ca2128;
    border: none;
    border-radius: 15em;
    box-shadow: 0 7px #7a1519;
}

.circle-button:active {
    background-color: #ca2128;
    box-shadow: 0 4px #7a1519;
    transform: translateY(4px);
}

.round-button {
    width:15em;
    margin: 3em auto;
}
.round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    cursor: pointer;
    box-shadow: 0 7px #5a5a5a;
}
.round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    font-family:Verdana;
    font-weight:bold;
    text-decoration:none;
}

.button-meta-data {
    color:#e2eaf3;
    text-align:center;
    font-weight:bold;
    font-family:Verdana;
    text-decoration:none;
    margin: 3em 0;
}

.clicks {
    margin: 1.3em 0;
}

.center-element{
    margin-left: auto;
    margin-right: auto;
}

.center-text{
    text-align: center;
}

.col-md-5{
    width: 25em;
    max-width: 100%;
}

.col-md-10{
    width: 50em;
    max-width: 100%;
}

/*
 * from: http://html-generator.weebly.com/css-textbox-style.html
 */
.textbox {
    height: 25px;
    width: 275px;
    border: 1px solid #B9BDC1;
    color: #797979;
    -moz-box-shadow: 0 2px 4px #bbb inset;
    -webkit-box-shadow: 0 2px 4px #BBB inset;
    box-shadow: 0 2px 4px #BBB inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.textbox:focus {
    background-color: #E7E8E7;
    outline: 0;
}

.controls-group{
    margin-top: 1.75em;
    margin-bottom: 1.75em;
}

.controls-label{
    margin-top: .3em;
    margin-bottom: .3em;
}

.controls{
    margin-top: .3em;
    margin-bottom: .3em;
}